<div class="footer">
	<div class="container">
		<p class="copy">
			&copy; {{ site.time | date: '%Y' }}. Codesource
			<a href="https://github.com/Marcrulo/Marcrulo.github.io/tree/master"> here.</a> Link to Assignment 2's Web: 
			<a href="https://theresestein.github.io/">Stealing in San Francisco </a>
		</p>

		<div class="footer-links">
			<ul class="noList">
				{%- if site.social.github -%}
					{%- include footer_links/github_icon.html -%}
				{%- endif -%}
			</ul>
		</div>
	</div>
</div>
<!-- end .footer -->
