<header class="page-header">
     <h1 class="project-name"> <a class="header-link" href="{{ site.baseurl }}/"> {{ site.title }}</a></h1>
     <!--<h3 style="font-weight: lighter;">a blog for <a class="header-link" href="http://canijustgo.com/" target="_blank">canijustgo.com</a></h3>-->
     <h3>Welcome to "The Great Game of Thrones" website, where we delve into the intricate dynamics of power, leadership, and rulership within the realm of Westeros. In this digital domain, we embark on a quest to discern and debate the most illustrious and impactful monarch to have ever graced the Seven Kingdoms.</h3>
     <p>Text??</p>
</header>
