<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <section class="main-content">
      
      
      <div class="wrapper">
        <h1>Who is the Greatest King in Westerosi History?</h1>
        <p> In the rich tapestry of George R.R. Martin's epic fantasy series "A Song of Ice and Fire," the struggle for the Iron Throne serves as the focal point of political intrigue, ambition, and conflict. Throughout the saga, we witness the rise and fall of mighty rulers, each leaving an indelible mark on the history of Westeros.

          As we navigate through the annals of Westerosi history, one question looms large: Who is the greatest king to have ascended the Iron Throne? Is it the valiant conqueror who forged a realm united under one banner? Or perhaps the wise ruler whose judicious decisions brought prosperity and stability to the land? Could it be the cunning strategist who outmaneuvered foes and allies alike to maintain their grip on power? </p>
        <p> Could it bee? </p>
        <h2> Plot 1 </h2>
        <iframe src="map.html" width="100%" height="500px"></iframe>
        <h2> Plot 2 </h2>
          <iframe src="https://gist.github.com/Marcrulo/f9a29273829a3695c45198a84f2b6e96.js" width="100%" height="500px"></iframe>
          <h2> Plot 3 </h2>
          <iframe src="https://gist.github.com/Marcrulo/f9a29273829a3695c45198a84f2b6e96" width="100%" height="500px"></iframe>
          <h2> Plot 4 </h2>
          <div>
          <iframe src="/_includes/map.html" width="100%" height="500px"></iframe>
        </div>
        <h2> Plot 5 </h2>
        <div>
          {% include map.html %}
          </div>
          <h2> Plot 6 </h2>
          <div>
            {% include plot.html %}
            </div>
            <h2> Plot 7 </h2>
        <div>
        {% include battles.html %}
        </div>
        <h2> Plot 8 </h2>
        <iframe src="https://gist.github.com/f9a29273829a3695c45198a84f2b6e96.git" width="100%" height="500px"></iframe>
          

        <p class="text-justify"> 
          We can immediate spot some interesting trends We can immediate spot some interesting trends:  We can immediate spot some interesting trends:  We can immediate spot some interesting trends:  We can immediate spot some interesting trends:  We can immediate spot some interesting trends:  We can immediate spot some interesting trends:   
        </p>
        <!--{{ content }}-->
      </div>
    </div>

    {% include footer.html %}


  </body>

    {% include scripts.html %}

</html>
